:root{
    --ff-font-base: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}

.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 97vh;
    
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    max-width: 20rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.23rem; 
    box-shadow: 0 10px 7px  hsla(219, 15%, 55%, 0.068);
    flex-shrink: 0;
}


.card img{
    border-radius: 0.63rem;
    overflow: hidden;
}

.text-container{
    font-family: var(--ff-font-base);
   /* height: 11.2rem; */
}

.card .text-container p:nth-child(1) {
    text-align: center;
    color: hsl(218, 44%, 22%); 
    font-size: 1.3rem;
    font-weight: 700;
    font-smooth: always;
    padding: 25px 1.23rem 0 1.23rem;
    line-height: 1.7rem;
}
.card .text-container p:nth-child(2) {
    text-align: center;
    color: hsl(220, 15%, 55%); 
    font-weight: 400;
    padding: 0.94rem 1.23rem 1.6rem 1.23rem;
    font-size: 0.95rem;
    text-justify: inter-word;
    line-height: 1.2rem;
}


footer {
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 3vh;
    background-color: hsl(218, 44%, 22%);
    color:hsl(0, 0%, 100%); 
    font-family: var(--ff-font-base);
    font-size: 0.8rem;
    font-weight: 700;
}

footer p {
    padding: 0 1rem;
}

footer p > a {
    text-decoration: none;
    color:bisque;
    padding-left: 0;
}

footer p > a:hover{
    color: darkmagenta;
    transition: all 500ms;
}